* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans';
}

body{
    background-color: #1d1d1d !important;
    font-family: 'Open Sans';

}

.flex-class{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-btw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}